@model IEnumerable<Content>

@{
    ViewData["Title"] = "Content Index";
}

<section class="container-fluid">
    <h1>@ViewBag.Title</h1>
    <a asp-controller="Content" asp-action="Create" class="btn btn-outline-success">Add new Content</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle mt-1">
            <thead class="thead-dark">
                <tr class="table-dark">
                    <th class="align-middle">Content Title</th>
                    <th class="text-center align-middle">Content Body</th>
                    <th class="text-center align-middle">Page Parent</th>
                    <th class="text-center align-middle">Content Date</th>
                    <th class="text-center align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="text-center align-middle">@Html.Raw(item.Container)</td>
                        <td class="text-center align-middle">
                            @if (item?.Page != null && !string.IsNullOrEmpty(item.Page.Title))
                            {
                                @item.Page.Title
                            }
                            else
                            {
                                @:
                            }
                        </td>
                        <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Date)</td>
                        <td class="text-center align-middle">
                            <div class="d-flex justify-content-center align-items-center flex-row gap-2 justify-content-end">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-group-sm btn-outline-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-group-sm btn-outline-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-group-sm btn-outline-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>