@model AssetViewModel

@{
    ViewData["Title"] = "Asset Index";
}

<section class="container">

    <p>
        <a asp-action="Create">Add new Asset</a>
        <br />
        <a asp-action="Upload">Add Multiple Assets</a>
        <br />
        <a asp-controller="Catalog" asp-action="Index">Sync Catalogs</a>
        <br />
        <a asp-action="MultipleAssets">Add Multiple Assets v2</a>
    </p>
    <table class="table table-secondary table-responsive table-striped">
        <thead>
            <tr class="table-dark">
                <th>Assets</th>
                <th>Name</th>
                 <th>Description</th>
                 <th>Author</th>
                <th>Category</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-primary">
            @foreach (var asset in Model.Assets)
            {
                <tr class="table-secondary">
                    <td><img src="@Url.Content(asset.ImageUrl)" class="img-fluid" style="max-height:100px;" /></td>
                    <td>@Html.DisplayFor(modelItem => asset.Name)</td>
                    <td>@Html.DisplayFor(modelItem => asset.Description)</td>
                    <td>@Html.DisplayFor(modelItem => asset.Author)</td>
                    @*@<td>@Html.DisplayFor(modelItem => asset.Categories)</td>*@

                    <td>
                        @foreach (var assetCategory in asset.Categories)
                        {
                            @assetCategory.Name
                            <br />
                        }
                    </td>
                    <td><a asp-action="Edit" asp-route-id="@asset.Id" class="btn btn-group-sm btn-outline-primary">Edit</a></td>
                    <td><a asp-action="Details" asp-route-id="@asset.Id" class="btn btn-group-sm btn-outline-primary">Details</a></td>
                    <td><a asp-action="Delete" asp-route-id="@asset.Id" class="btn btn-group-sm btn-outline-danger">Delete</a></td>                        
                </tr>
            }
        </tbody>
    </table>
</section>