@model AssetViewModel

@{
    ViewData["Title"] = "Asset Index";
}


<section class="container-fluid">
    <h1>@ViewBag.Title</h1>

    <ul class="list-group gap-2">
        <li class="list-group-item">

        <a asp-action="Create" class="btn btn-outline-success">Add new Asset</a>
        </li>
        
        @if (User.IsInRole("Admin"))
        {
            <li class="list-group-item">

            <a asp-controller="Catalog" asp-action="Index" class="btn btn-outline-danger">Sync Catalogs</a>
            </li>
        }
        <li class="list-group-item">

        <a asp-action="MultipleAssets" class="btn btn-outline-success">Add Multiple Assets</a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr>
                <th>Assets</th>
                <th class="text-center align-middle">Name</th>
                 <th class="text-center align-middle">Description</th>
                 <th class="text-center align-middle">Author</th>
                <th class="text-center align-middle">Location</th>
                <th class="text-center align-middle">Date</th>
                <th class="text-center align-middle">Categories</th>
                <th class="text-center align-middle">Actions</th>
            </tr>
        </thead>
        <tbody class="table-primary">
            @foreach (var asset in Model.Assets)
            {
                <tr class="table-secondary">
                    <td><img src="@Url.Content(asset.ImageUrl)" class="img-fluid" style="max-height:100px;" /></td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => asset.Name)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => asset.Description)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => asset.Author)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => asset.Location)</td>
                    <td class="text-center align-middle">@Html.DisplayFor(modelItem => asset.Date)</td>
                    @*@<td>@Html.DisplayFor(modelItem => asset.Categories)</td>*@

                    <td class="text-center align-middle">
                        @foreach (var assetCategory in asset.Categories)
                        {
                            @assetCategory.Name
                            <br />
                        }
                    </td>
                    <td class="text-center align-middle">
                        <div class="d-flex justify-content-center align-items-center flex-row gap-2 justify-content-end">
                            <a asp-action="Edit" asp-route-id="@asset.Id" class="btn btn-sm btn-outline-primary align-items-center justify-content-center">Edit</a>
                            <a asp-action="Details" asp-route-id="@asset.Id" class="btn btn-sm btn-outline-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@asset.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</section>