@model UploadAssetsViewModel

@{
    ViewData["Title"] = "Upload Multiple Assets";
}


<h1>@ViewBag.Title</h1>

<section class="container">
    <h4>Add Multiple Assets</h4>

    <div class="row">
        <div class="col-md-4">

            <form class="container asp-controller="Asset" asp-action="Upload" method="post" enctype="multipart/form-data">
            @if (Model.IsResponse)
            {
                if (Model.IsSuccess)
                {
                    <div class="alert alert-success">
                        @Model.Message
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        @Model.Message
                    </div>
                }
            }

                <div class="col w-100">
                    <label class="col-form-label">Select Multiple Files</label>
                    <input asp-for="@Model.ImagesUp" class="form-control" multiple/>
                    <span asp-validation-for="@Model.ImagesUp" class="text-danger"></span>
                </div>

                <div class="col dropdown-menu-start m-1">
                    <select asp-for="Categories" asp-items="ViewBag.CategoryList" required>
                        <option value="" selected disabled>Select Category</option>
                    </select>
                    @* <span asp-validation-for="Categories"></span> *@
                </div>

            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Upload Files</button>
                </div>
            </div>
        </form>
        </div>
    </div>

    <div>
        <a asp-controller="Asset" asp-action="Index">Return to Asset Index</a>
    </div>

</section>