@model Page

@{
    ViewData["Title"] = "Delete a Page";
}

<section class="container my-4">
    <div class="card shadow-sm border-danger">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Delete Confirmation</h2>
        </div>

        <div class="p-4">

            <h3 class="mb-4 card-header-pills border-danger border-bottom border-1">Are you sure you want to delete <strong>@Model.Title</strong>?</h3>


            <dl class="row">
                <dt class="col-sm-2 fw-semibold">@Html.DisplayNameFor(m => m.Title)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(m => m.Title)</dd>

                <dt class="col-sm-2 fw-semibold">@Html.DisplayNameFor(m => m.Container)</dt>
                <dd class="col-sm-10">@Html.Raw(Model.Container)</dd>

                <dt class="col-sm-2 fw-semibold">@Html.DisplayNameFor(m => m.Contents)</dt>
                <dd class="col-sm-10">
                    @if (Model.Contents?.Any() == true)
                    {
                        <ul class="list-group list-group-flush" role="list">
                            @foreach (var content in Model.Contents)
                            {
                                <li class="list-inline-item" role="listitem">
                                    <span class="badge badge-secondary">@content.Title</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-muted fst-italic">No Contents available.</p>
                    }
                </dd>
            </dl>

        </div>
        <!-- Submit -->
        <div class="card-footer d-flex justify-content-between">
            <form asp-controller="Page" asp-action="Delete" method="post" class="mb-0">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash mr-1"></i>Delete
                </button>
            </form>
            <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </div>
</section>
