@model IEnumerable<Page>

@{
    ViewData["Title"] = "Pages Control Panel";
}

<section class="container-fluid">
    <h1 >@ViewData["Title"]</h1>

    <p>
        <a asp-controller="Page" asp-action="Create" class="btn btn-outline-success">Add New Page</a>
    </p>

    <!-- Responsive table wrapper -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Page Title</th>
                    <th class="text-center">Container</th>
                    <th class="text-center">Page Content Children</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="text-center">@Html.Raw(item.Container)</td>
                        <td class="text-center">
                            @foreach (var content in item.Contents)
                            {
                                @content.Title

                                <br />
                            }
                        </td>
                        <td>
                            <div class="d-flex justify-content-end gap-2 flex-wrap">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
